In [1]:
import pandas as pd
import numpy as  np
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
## Lunar Landers
#ddpglander = 
ddpghopper0 = pd.read_csv("ddpg_HopperBulletEnv-v0_40000_run_0_games.csv")
ddpghopper1 = pd.read_csv("ddpg_HopperBulletEnv-v0_40000_run_1_games.csv")
ddpghopper2 = pd.read_csv("ddpg_HopperBulletEnv-v0_40000_run_2_games.csv")
ddpgmcar = pd.read_csv("ddpg_MountainCarContinuous-v0_20000.csv")

sacmcar = pd.read_csv("sac_MountainCarContinuous-v0_2500_run.csv")
sacmcar1 = pd.read_csv("sac_MountainCarContinuous-v0_20000_run.csv")

td3bullet = pd.read_csv("td3_HopperBulletEnv-v0_40000_run_0_games-steps.csv")
td3lander = pd.read_csv("td3_LunarLanderContinuous-v2_2500_run_2_games.csv")
td3mcar1 = pd.read_csv("td3_MountainCarContinuous-v0_20000_run_0_games.csv")
td3mcar2  = pd.read_csv("td3_MountainCarContinuous-v0_20000_run_1_games.csv")
td3mcar3  = pd.read_csv("td3_MountainCarContinuous-v0_20000_run_2_games.csv")

In [26]:
# Dropping unnamed column
ddpghopper2.drop('Unnamed: 0', axis=1, inplace=True)
sacmcar.drop('Unnamed: 0', axis=1, inplace=True)
td3bullet.drop('Unnamed: 0', axis=1, inplace=True)
td3lander.drop('Unnamed: 0', axis=1, inplace=True)

In [28]:
td3mcar1['Steps'] = 999
td3mcar2['Steps'] = 999
td3mcar3['Steps'] = 999

In [40]:
ddpghopper0.loc[39801]

Scores    1765.8
Steps        NaN
Name: 39801, dtype: float64

In [45]:
ddpghopper0.dropna(inplace=True)
ddpghopper1.dropna(inplace=True)
ddpghopper2.dropna(inplace=True)

In [55]:
td3lander

          Scores  Steps
0    -172.314580     72
1    -287.302869    100
2    -202.453312    118
3    -207.531439     99
4     -80.710516     80
...          ...    ...
2495  283.992710    235
2496  266.597869    194
2497  298.790213    258
2498  277.218958    227
2499  249.603368    181

[2500 rows x 2 columns]